@import "tailwindcss";

@theme {
  --color-primary: oklch(62.7% 0.194 149.214); /* Green 600 */
  --color-secondary: #3b82f6; /* Blue 500 */
  --color-accent: #fbbf24; /* Amber 400 */
  --color-background: #f9fafb; /* Gray 50 */
  --color-surface: #ffffff; /* White */
  --color-text: #1e293b; /* Slate 800 - Testo Primario */
  --color-muted: #6b7280; /* Gray 600 - Testo Secondario */
}

.pagy {
  @apply text-red-500 gap-2 flex items-center justify-center;
  [aria-label="Previous"],
  [aria-label="Next"],
  [rel="next"],
  [rel="prev"] {
    @apply relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-700 inset-ring inset-ring-gray-300 hover:bg-gray-50;
  }
  [aria-current="page"] {
    @apply z-10 bg-primary text-white relative inline-flex items-center rounded-md px-3 py-2 text-sm font-semibold focus:z-20;
  }
}

.form-select {
  @apply col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-primary/60 sm:text-sm/6;
}

.form-date_field {
  @apply col-start-1 row-start-1 w-full rounded-md border-0 bg-white py-1.5 pl-3 pr-10 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-primary/60 sm:text-sm/6;
}
