<div id="<%= dom_id consumption %>">
    <p>
        <strong>Value:</strong>
        <%= consumption.value %>
    </p>
    <p>
        <strong>Date:</strong>
        <%= consumption.date %>
    </p>
</div>
