<% content_for :title, "Editing consumption" %>
<main class="py-10 lg:pl-72">
    <div class="px-4 sm:px-6 lg:px-8">
<div class="mb-8">
  <%= link_to "â† Torna ai tuoi consumi", admin_consumptions_path, class: "text-sm/6 font-medium text-gray-900" %>
</div>
<%= render "form", consumption: @consumption, url: admin_consumption_path(@consumption) %>

<br>


</div>
</main>