

<% content_for :title, "Stats" %>
<main class="py-10 lg:pl-72">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold text-gray-900">Analisi</h1>
          <p class="mt-2 text-sm text-gray-700">I grafici di analisi dei tuoi consumi</p>
        </div>
      </div>
    </div>
  </div>
    <div class="px-4 sm:px-6 lg:px-8 mt-16">
      <% @stats.each do |stat| %>
      <div class="mb-8">
        <h2 class="text-lg font-semibold text-gray-900 mb-4"><%= stat[:title] %></h2>
        <%= line_chart(stat[:data]) %>
      </div>
      <% end %>
    </div>
</main>